{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    <!-- SHOP Dropdown -->
    <li>
      <header-menu>
        <details id="Details-HeaderMenu-Shop" class="mega-menu">
          <summary
            id="HeaderMenu-Shop"
            class="header__menu-item list-menu__item link focus-inset"
          >
            <span class="header__active-menu-item">
              SHOP
            </span>
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </summary>
          <div
            id="MegaMenu-Content-Shop"
            class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
            tabindex="-1"
          >
            <div class="mega-menu__layout page-width">
              <!-- Left Column -->
              <div class="mega-menu__column">
                <a href="/collections/all" class="mega-menu__link mega-menu__link--level-2 link">
                  SHOP ALL →
                </a>
                <a href="/collections/best-sellers" class="mega-menu__link mega-menu__link--level-2 link">
                  BEST SELLERS
                </a>
                <a href="/collections/hoodies" class="mega-menu__link mega-menu__link--level-2 link">
                  HOODIES
                </a>
                <a href="/collections/denim" class="mega-menu__link mega-menu__link--level-2 link">
                  DENIM
                </a>
                <a href="/collections/basics" class="mega-menu__link mega-menu__link--level-2 link">
                  BASICS
                </a>
              </div>
              <!-- Right Column -->
              <div class="mega-menu__column">
                <a href="/collections/knitwear" class="mega-menu__link mega-menu__link--level-2 link">
                  KNITWEAR
                </a>
                <a href="/collections/tees" class="mega-menu__link mega-menu__link--level-2 link">
                  TEES
                </a>
                <a href="/collections/bottoms" class="mega-menu__link mega-menu__link--level-2 link">
                  BOTTOMS
                </a>
                <a href="/collections/small-goods" class="mega-menu__link mega-menu__link--level-2 link">
                  SMALL GOODS
                </a>
              </div>
            </div>
          </div>
        </details>
      </header-menu>
    </li>
    
    <!-- SUMMER TEES Link -->
    <li>
      <a
        id="HeaderMenu-Summer-Tees"
        href="/collections/summer-tees"
        class="header__menu-item list-menu__item link link--text focus-inset"
      >
        <span>SUMMER TEES</span>
      </a>
    </li>
  </ul>
</nav>
